@import '../../style';

section {
    width: 100%;
    display: flex;
}

.sort-button {
    width: 100%;
}

.sort-button input {
	display: none;
}

.sort-button label {
    background-color: white;
    border: 1px solid $border-color;
    outline: none;
    font-family: $main-font;
    font-size: 12px;
    font-weight: $main-font-weight;
    text-transform: uppercase;
    color: $main-text-color;
    text-align: center;
    padding: 15px;
    display: block;
    cursor: pointer;
}

.sort-button:first-child label {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.sort-button:last-child label {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.sort-button label:hover {
    background-color: $hover-color;
}

.sort-button input:checked + label {
    background-color: $design-color;
    color: white;
}