@import '../../style';

section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

button {
    width: 50%;
    background-color: white;
    border: 1px solid $border-color;
    outline: none;
    font-size: 12px;
    font-weight: $main-font-weight;
    text-transform: uppercase;
    color: $main-text-color;
    font-family: $main-font;
    vertical-align: top;
    padding: 15px;
}

button:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

button:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

button:hover {
    background-color: $hover-color;
}

button:disabled {
    background-color: $design-color;
    color: white;
}