@import '../../style';

$distance: 20px;

.ticket-list {
    margin: 0;
}

.ticket-list li {
    margin-top: $distance;
}

.spin {
    display: flex;
    justify-content: center;
    padding: $distance;
}

.error-message {
    margin-top: $distance;
    font-family: $main-font;
    font-size: 24px;
    font-weight: $main-font-weight;
    color: $main-text-color;
    text-align: center;
    display: block;
}

.show-more-button {
    width: 100%;
    margin-top: $distance;
    background-color: $design-color;
    border: 1px solid $border-color;
    outline: none;
    font-family: $main-font;
    font-size: 12px;
    font-weight: $main-font-weight;
    text-transform: uppercase;
    color: white;
    vertical-align: top;
    padding: 15px;
    border-radius: $border-radius;
}

.show-more-button:hover {
    background-color: $hover-design-color;
}