@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$main-font: 'Open Sans';
$main-font-weight: 600;

$main-background-color: #F3F7FA;
$hover-color: #F1FCFF;
$main-text-color: #4A4A4A;
$design-color: #2196F3;
$hover-design-color: #196cb1;
$border-color: #DFE5EC;

$border-radius: 5px;