@import '../../style';

.block {
    background-color: white;
    box-shadow: 0 0 2px 0 gray;
    border-radius: $border-radius;
    font-family: $main-font;
    padding: 15px;
}

.title {
    font-size: 12px;
    font-weight: $main-font-weight;
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 13px;
}

li:hover {
    background-color: $hover-color;
}